# dependencies
node_modules/

# builds
client/dist/
dist/

# runtime data
server/db.json
server/*.tmp

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
*.log

# editor / os
.DS_Store
.idea/
.vscode/
